.modal {
  padding-top: 100px;
}

.br-bm-gd-lt {
  outline: 2px solid #636364;
  padding: 20px;
  background-color: #87ccd7;
}

.banner-bottom-grid-left :hover {
  background-color: #a7fafa;
}


/*============================================================
    Modal
============================================================*/
.modal-footer{
    text-align: left;    
}

.form-inline .form-group {
    margin-bottom: 11px;
}

.form-inline .control-label {
    width: 110px;
    text-align:right;
    margin-right: 10px;
}

.modal-backdrop {
  z-index: -1;
}

.modal-backdrop.fade {
  z-index: -1;
}

.modal-backdrop.in {
  z-index: -1;
}

.modal-content {
  z-index: 1000;
}