.modal {
  padding-top: 100px;
}

.br-bm-gd-lt {
  outline: 2px solid #636364;
  padding: 20px;
  background-color: #87ccd7;
}

.activity {
  outline: 2px solid #636364;
  padding: 20px;
  background-color: #87ccd7;
}

.banner-bottom-grid-left :hover {
  background-color: #a7fafa;
}

.round {
  border-radius: 24px;
}


/*============================================================
    Modal
============================================================*/
.modal-footer{
    text-align: left;    
}

.form-inline .form-group {
    margin-bottom: 11px;
}

.form-inline .control-label {
    width: 110px;
    text-align:right;
    margin-right: 10px;
}

.modal-backdrop {
  z-index: -1;
}

.modal-backdrop.fade {
  z-index: -1;
}

.modal-backdrop.in {
  z-index: -1;
}

.modal-content {
  z-index: 1000;
}

/*===============================================================================
Navbar CSS
================================================================================*/

a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.navbar {
  font-weight: 800;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-inverse {
  background: #2d2d2d;
  border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
  background: #ff7878
}

body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    
}

/* ==========================================
Brand 
=============================================*/
