<!--for the mid-activity/mission pages-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<img src='{ % static "img/beach.jpg" %}' />-->
    <title>CHF App (User Side)</title>
    <link href='{% static "css/activityList.css" %}' rel="stylesheet" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src = "{% static 'js/refreshPage.js' %}"></script>
  </head>

  <body>

    <h1>{{activity.activityName}}</h1>
    <h2>{{activity.description}}</h2>

    <div>
      {% for s in scene %}
        <div id="{{s.sceneID}}">
          <p>{{s.instructionText}}</p>
          <ul id="ul_inline">
          {% for o in scnOptions %}
            {% if s.sceneID == o.sceneID_id %}
              <li>{{o.sceneText}}
            {% endif %}
            {% for n in nxtScene %}
              {% if s.sceneID == n.sceneID_id and o.soID == n.sceneOptionID_id %}
                <button id = "{{n.nextSceneNumber}}">Submit</button></li>
              {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

<!-- Div with Footer --> 
    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>