<!--Created by: CJ
	Purpose: Interface for admin to view/edit/delete activity and scene information
	Date: 3/17/16
-->
{% extends 'base.html' %}
{% block content%}
{% load staticfiles %}
	<script src='{% static "js/sceneNumberCheck.js" %}'></script>

	<div class="container">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h1>Activity Information</h1>

			<p>The table below lists the scenes created for the activity entitled "{{activities.activityName}}". Click on a scene to view its associated options and the number of the subsequent scene.</p>

			<table class="table table-condensed table-bordered table-hover" width="100%">
				<col style="width:5%">
				<col style="width:75%">
				<col style="width:20%">
				<tr class="rowHeader">
					<td><b>#</b></td>
					<td><b>Scene Text</b></td>
					<td><b>Actions</b></td>
				</tr>

				{% for s in scenes %}
					{%if s.activityID_id == activities.activityID %}
					<tr id='{{s.sceneID}}' class='mainRow'> <!--connect this to the jquery-->
						<td></td>
						<td>{{s.instructionText}}</td>
						<td>
							<a class="btn btn-warning" href="/editScene/{{s.sceneID}}">Edit</a>
							<a data-toggle="modal" data-id="{{s.sceneID}}" title="Delete Scene" class="btn btn-danger" href="#Delete{{s.sceneID}}">Delete</a>
						</td>
						<!-- Delete Event Modal -->
						<div class="modal fade" id="Delete{{s.sceneID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
										<h4 class="modal-title" id="myModalLabel">Delete Scene</h4>
									</div>

									<div class="modal-body">
										<h4>Are you sure you want to delete the following scene: "{{s.instructionText}}"?</h4> 
										<br/>
										You will not be able to undo this action.
									</div>

									<div class="modal-footer">
										<a href="/deleteScene/{{s.sceneID}}/" class='btn btn-danger'>Delete</a>
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div><!-- /.modal-content-->
							</div><!-- /.modal-dialog -->
						</div><!-- /.modal -->

					</tr>
					<tr onClick="toggle();" id="{{s.sceneID}}" class="hideRow" style="display:none;">
						<td colspan="3">
							<table id="optionsTable" class="table table-condensed" width="100%">
								<col style = "width:5%">
								<col style = "width:60%">
								<col style = "width:10%">
								<col style = "width:25%">
								<tr>
									<td></td>
									<td><b>Option Text</b></td>
									<td><b>Next Scene</b></td>
									<td><b>Actions</b></td>
								</tr>
								{% for so in scnOptions %}
									{% if so.sceneID_id == s.sceneID%}
										<tr class='sceneOptRow'>
											<td></td>
											<td>{{so.sceneText}}</td>
											{% for n in nxtScene %}
												{%if so.soID == n.sceneOptionID_id %}
													<td>{{n.nextSceneNumber}}</td>
												{%endif%}
											{% endfor %}
											<td>
												<a href="/editSceneOption/{{s.soID}}/" class='btn btn-warning'>Edit</a>
												<button type="button" class="btn btn-danger">Delete</button>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</table>
						</td>
					</tr>
					{%endif%}
				{%endfor%}
			</table>

			<button type="button" class="btn btn-primary" onclick="window.location.href='/createSceneSet/{{activities.activityID}}';">Add New Scene</button>
			<br><br>
			<br>
			<h3>Add Scene Option</h3>

			<form method="POST" action="">
				<p>Scene options enable users to move from scene to scene. To add a scene option, refer to the table of existing scenes. Enter the source scene number, choice text that the user will see, and the destination scene number. <i>Hover over each box's label for additional instructions.</i>

				{%csrf_token%}
				<table class="table borderless" width="100%">
					<col style = "width:10%">
					<col style = "width:80%">
					<col style = "width:10%">
					<form method="POST" action="">
					<tr>
						<td>
							<label for="sceneNum" href="#" data-toggle="tooltipFrom" data-placement="left" title="Type the number of the source scene # in the 'From' box.">From: </label>
							<input type="text" id="sceneNum" class="form-control">{{field.sceneID}}</input>
						</td>
						<td>
							<label for="sceneText" href="#" data-toggle="tooltipOpt" data-placement="right" title="Type the text that the user will see and select in the 'Option Text' box.">Option Text: </label>
							<input type="text" id="sceneText" class="form-control">{{field.sceneText}}</input>
						</td>
					</tr>
					</form>
					<form2 method="POST" action"">
						<td>
							<label for="nxtSceneNum" href="#" data-toggle="tooltipTo" data-placement="right" title="Type the number of the next scene in the 'To' box.">To: </label>
							<input type="text" id="nxtSceneNum" class="form-control">{{field.nextSceneNumber}}</input>
						</td>
					</form2>
				</table>
				<div>
					<a href="/createScenePath/{{activities.activityID}}/" type="button" class="add-option-row btn btn-primary">Add Scene Option</a>
				</div>
			</form>

			<br><br>
			<button type="button" class="btn btn-default">Return to Activities</button>
			<br><br>
		</div>
	</div>



{% endblock %}