{% extends 'base.html' %}
{% block content%}
<!--     <div>
      {% if user.is_anonymous%}
      <a href="/userLogin/">Login</a>
      {% endif %}
    </div> -->

    <div class="container">
      {% if user.is_anonymous %}
      <h1>Welcome, friend.</h1>
      {% else %}
      <h1>Welcome, {{user}}</h1>
      {% endif %}
      <br>
      <p>Select an activity from the list below:</p>
      <br>
      <hr>
      <br>
    </div>

    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="banner-bottom">
        <div class="container">
          <div class="banner-bottom-grids">
            {% for a in activities %}
            <div class="col-md-3 banner-bottom-grid-left">
              <div class="br-bm-gd-lt activity" id="{{a.activityID}}">
                <div class="overlay">
                  <div class="arrow-left"></div>
                  <div class="rectangle"></div>
                </div>
                <div class="eventInfo">
                  <div class="info">
                    <h3>{{a.activityName}}</h3>
                    </ul>
                  </div>
                  <h4>{{a.description}}</h4>
                </div>
                <div>
                  <input type="button" onClick="location.href='/activityPage/{{a.activityID}}/';" class="btn btn-primary" Value="Begin">
                </div>
              </div>
            </div>
            {% endfor %}
          </div> <!--ends banner-bottom-grids-->
        </div> <!--ends container-->
      </div> <!--ends banner-bottom-->
      <br/><br/>
      <a href="/eventDashboard/" class="btn btn-default"><b>Return to Events List</b></a>
          <br><br><br><br>
    </div> <!--end col-sm-10 div-->

{% endblock %}







