
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<img src='{ % static "img/beach.jpg" %}' />-->
    <title>CHF Web Games</title>
  </head>

  <body>

    <div class="container">
      <h1>{{activity.activityName}}</h1>
      <p>{{activity.description}}</p>
      <ul>
      <div>
        <li>{{intro.instructionText}}</li>
        <button class="btn btn-primary"><a href="/activityPage/{{activity.activityID}}/{{nextScene.nextSceneNumber}}"> {{sceneOpt.sceneText}} </a></button>
      </div>
    </ul>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>