{% extends 'base.html' %}
{% block content%}
    <!-- Main jumbotron for a primary marketing message or call to action -->

      <div class="container">
        <h1>Welcome, {{user}}.</h1>
        <br>
        <p>I am Agent 2187 of the Culper Spy Ring. Help us in our cause and choose a mission to undertake from the list below. </p>
        <br>
        <hr>
        <br>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>


    <div class="container">
      <!-- Example row of columns -->
      {%for a in activities%}
      <div>
        <p><h3>{{a.activityName}}</h3></p>
        <br>
        <p>{{a.description}}</p>
        <br>
<!--         <button><a href="/activityPage/{{a.activityID}}/">Begin</a></button> -->
        <input type="button" onClick="location.href='/activityPage/{{a.activityID}}/';" VALUE="Begin">
        <br><br>
      </div>
      {%endfor%}
      <hr>
{% endblock %}





