<!--
Title: activityPage.html 
Purpose: Loading in scene, scene option, and next scene data relevant to the activity chosen
Predecessor: activityDashboard.html
-->

{% extends 'base.html' %}
{% block content%}
<div class="container">
    <!--Activity information-->
    <title>{{title}}</title>

    <h1>{{activity.activityName}}</h1>
    <br><br>
    <h3>{{activity.description}}</h3>
    <br>

    <div>
      {% for s in scene %} <!--looping through scene info-->
        <div id="{{s.sceneID}}" class="sceneDiv">
          <p>{{s.instructionText}}</p>
          <br>
          <ul id="ul_inline">
          {% for o in scnOptions %} <!--looping through scene options related to scene-->
            {% if s.sceneID == o.sceneID_id %}
              <li>{{o.sceneText}}
            {% endif %}
            {% for n in nxtScene %} <!--looping through next scene designation related to scene option-->
              {% if s.sceneID == n.sceneID_id and o.soID == n.sceneOptionID_id %}
                <button id = "{{n.nextSceneNumber}}">Submit</button></li>
              {% endif %}
            {% endfor %} <!--end nxtScene loop-->
          {% endfor %} <!--end scnOptions loop-->
          </ul>
        </div>
      {% endfor %} <!--end scene loop-->
    </div>

    <div>
      <br>
      <br>
      <input type="button" onClick="history.go(0)" VALUE="Restart Mission">
      
      <!--may need to update activityDashboard url to include event-->
      <input type="button" onClick="location.href='/activityDashboard/';" VALUE="Exit to Activity Page">
    </div>
</div>

{% endblock %}