
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<img src='{ % static "img/beach.jpg" %}' />-->
    <title>CHF App (User Side)</title>
  </head>

  <body>

    <div class="container">
      <h1>{{activity.activityName}}</h1>
      <p>{{activity.description}}</p>
      <ul>
      {% for s in scenes %}
      <div>
        <li>{{s.instructionText}}</li>
        <button><a href="/activityPage/{{s.sceneID}}">Continue</a></button>
      </div>
      {%endfor%}
    </ul>
    </div>


    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>