<!--
Title: activityPage.html 
Purpose: Loading in scene, scene option, and next scene data relevant to the activity chosen
Predecessor: activityDashboard.html
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{activity.activityName}}</title>
    <link href='{% static "css/activityList.css" %}' rel="stylesheet" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "{% static 'js/refreshPage.js' %}"></script>
  </head>

  <body>
    <!--Activity information-->
    <h1>{{activity.activityName}}</h1>
    <h2>{{activity.description}}</h2>

    <div>
      {% for s in scene %} <!--looping through scene info-->
        <div id="{{s.sceneID}}" class="sceneDiv">
          <p>{{s.instructionText}}</p>
          <ul id="ul_inline">
          {% for o in scnOptions %} <!--looping through scene options related to scene-->
            {% if s.sceneID == o.sceneID_id %}
              <li>{{o.sceneText}}
            {% endif %}
            {% for n in nxtScene %} <!--looping through next scene designation related to scene option-->
              {% if s.sceneID == n.sceneID_id and o.soID == n.sceneOptionID_id %}
                <button id = "{{n.nextSceneNumber}}">Submit</button></li>
              {% endif %}
            {% endfor %} <!--end nxtScene loop-->
          {% endfor %} <!--end scnOptions loop-->
          </ul>
        </div>
      {% endfor %} <!--end scene loop-->
    </div>

    <div>
      <input type="button" onClick="history.go(0)" VALUE="Restart Mission">
      
      <!--may need to update activityDashboard url to include event-->
      <input type="button" onClick="location.href='/activityDashboard/';" VALUE="Exit to Activity Page">
    </div>

    <!-- Div with Footer --> 
    <div class="container">
      <!-- Example row of columns -->
      <hr>
      <footer>
        <p>&copy; 2015 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>