<!--Created by: CJ
  Purpose: Interface for admin to view, make changes to, or deleted selected events/activities
          Includes two tabs: Your Events (CRUD activities) and Manage Users (Delete inactive sessions)
  Date: March 2016
-->

{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
  <script src='{% static "js/sceneNumberCheck.js" %}'></script>
  <script src='{% static "js/toggleActivityTables.js" %}'></script>

<!--contains user greeting and general information about page-->
<div class="container">
    <h1>Welcome, {{user}}.</h1>
    <p>Below is a list of events belonging to you.</p>
    <br>
  </div>
</div>

<!--holds code to print event information-->
<div class="container">

  <!--navigational tabs for admin functions-->
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#YourEvents">Your Events</a></li>
    <li><a data-toggle="tab" href="#ManageUsers">Manage Users</a></li>
<!--     <li><a data-toggle="tab" href="#OtherEvents">Other Events</a></li> -->
  </ul>

  <!--Holds all tab content-->
  <div class="tab-content">

    <!--Admin-created Events-->
    <div id="YourEvents" class="tab-pane fade in active">
      <h2>Your Events</h2>
      <p>Events listed below are either those which you have created. To view additional details about a given event, click on the event's title.</p>
      <a href="/createEvent/" role="button" class="btn btn-primary">Create New Event</a>
      <br><br>
      <div class="col-sm-1"></div>
      <div class="col-sm-10">

        {% for e in events %}
        <div id="{{e.eventID}}" class="eventIDDiv">
            <h3 id="{{e.eventID}}">{{e.eventName}}</h3>
          <div id="{{e.eventID}}" class="extraInformation">
            <p>Joincode: {{e.joincode}}</p>
            <p>Enforcing user? (Private): {{e.enforceUser}}</p>
          </div>
          <a href="/createActivity/{{e.eventID}}/" role="button" class="btn btn-primary">Create New Activity</a>
          <br><br>
          <table class ="table table-condensed table-bordered" width="100%">
            <col style="width:20%">
            <col style="width:57%">
            <col style="width:23%">
            <thead class="thead rowHeader">
              <tr>
                <th>Activity Name</th>
                <th>Description</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

            {% for a in activities %}
              <div id="{{a.eventID_id}}" class="actEventIDDiv">

              {% if e.eventID == a.eventID_id %}
              <tr class="accordion-toggle" data-toggle="collapse">
                <td>{{a.activityName}}</td>
                <td>{{a.description}}</td>
                <td>
                  <button type="button" class="btn btn-success" onclick="window.location.href='/activity/{{a.activityID}}';">View</button>
                  <button type="button" class="btn btn-warning" onclick="window.location.href='/editActivity/{{a.activityID}}';">Edit</button>
                  <button type="button" class="btn btn-danger" onclick="window.location.href='/deleteActivity/{{a.activityID}}';">Delete</button>
                </td>
              </tr>
              {% else %}
              {% endif %}

              </div> <!--div for eventIDs-->
            {% endfor %} <!--end for loop: activities -->

            </tbody>
          </table>
          <a href="/editEvent/{{e.eventID}}/" role="button" class="btn btn-warning">Edit Event</a>
          <a data-toggle="modal" data-id="{{e.eventID}}" title="Delete Entire Event" class="openDelete btn btn-danger" href="#Delete{{e.eventID}}">Delete Entire Event</a>
          <br>
          <hr>
          <br>
        </div>

        <!-- Delete Event Modal -->
          <div class="modal fade" id="Delete{{e.eventID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Delete Event</h4>
                </div>

                <div class="modal-body">
                  <h4>Are you sure you want to delete {{e.eventName}}?</h4> 
                  <br/>
                  You will not be able to undo this action.
                </div>
                <div class="modal-footer">
                  <a href="/deleteEvent/{{e.eventID}}/" class='btn btn-danger'>Delete</a>
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content-->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        {%endfor%} <!--end for loop: events --> 

      </div> 
    </div> <!--ends "Your Events" tab-->

    <div id="ManageUsers" class="tab-pane fade">
      <h2>Manage Users</h2>
      <p>From this tab, you will be able to delete user sessions for each activity in an event. To begin, select an activity name from the dropdown and the activities will appear.</p>
      <br>
      <div id="eventSelect">
        <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-9">
          <div class="form">
            <div class="form-group">
              <select class="form-control" id="selEvent">
                <option>Select an event</option>
                {% for e in events %}
                  <option for="eventNum" value="{{e.eventID}}" name="selectedEvent">{{e.eventName}}</option>
                {% endfor %}
              </select>
              <br>
            </div> <!--end form-group-->
          </div> <!--end form classdiv-->
        </div> <!--close col-sm-9-->
        <div class="col-xm-2"></div>
        </div><!--ending the row-->
      </div>
      </br>

      <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-9">
          {% for a in activities %}
            <div id="{{a.eventID_id}}" class="actEvtDiv">
              <h4>{{a.activityName}}</h4>
              <p>{{a.description}}<p>
              <table class ="table table-condensed table-bordered" width="100%">
                <col style="width:30%">
                <col style="width:30%">
                <col style="width:20%">
                <col style="width:20%">
                <thead class="thead rowHeader">
                  <tr>
                    <th>Username</th>
                    <th>Start Time</th>
                    <th>Inactive?</th>
                    <th>Completed?</th>
                  </tr>
                </thead>
                <tbody>
                  {% for ssn in ses %}
                    {% if a.activityID == ssn.activityID_id %}
                    <tr>
                      <!--if the user's id matches the session for user return username-->
                      {% for au in allUsers %}
                        {% if au.id == ssn.user_id %}
                          <td>{{au.username}}</td>
                        {% endif %}
                      {% endfor %}
                      <td>{{ssn.startTime}}</td>
                      <td>{{ssn.inactive}}</td>
                      <td>{{ssn.activityCompleted}}</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
              <a class="btn btn-danger" type="button" href="/deleteInactiveSessions/{{a.activityID}}/">Delete Inactive Sessions</a>
            </div> <!--end in actEvtDiv-->
            <br>
          {% endfor %} <!--endfor activity-->
        </div> <!--close col-sm-9-->
      </div> <!--ends row-->
    </div>

<!--     <div id="OtherEvents" class="tab-pane fade">
      <h3>Other Events</h3>
      <p>Events below are those that you have participated in previously. Functionality currently under construction.</p>
    </div> -->

  </div><!--ends tab-content div -->
</div> <!--ends container div -->

{% endblock %}