<!--Initial Login Page
    Created by: CJ
    Modified by: Trevor 
    Date: 3/1/2016
    Purpose: Splash page to give users ability to login depending on role.
-->

        <!--
        End #home Slider
        ========================== -->

          <!--
        Login Modal
        ==================================== -->
        {% extends 'base.html' %}
        {% block content%}
        <section id="home">
        <div>
            <p>This is a test to see where text shows up.</p>
                {% include "userLogin.html" %}
        </div>
        </section>
        {% endblock %}





        <!--
        End Login Modal
        ==================================== -->
