{% extends 'base.html' %}
{% block content%}


	<div class="container">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9">
			<h1>{{formtitle}}</h1>
			<br><br>
			<p>{{instruction}}</p>
		<br>

			<form method="POST" action="" id='SceneCreationForm'>
				{% csrf_token %}
				{{form.as_p}}
				<br>
				<input type="button" value="Back" onclick="window.location='/activity/{{activity.activityID}}/';"/>
				<input type="submit" value="Submit" onclick="window.location='/activity/';" />
				
			</form>
		</div>
	</div>

{% endblock %}