<!--Created by: CJ
	Purpose: Interface for admin to make changes to selected activity
	Date: 3/17/16
-->
{% extends 'base.html' %}
{% block content%}
	<div class="container">
		<div class="col-sm-3">
		</div>
		<div class="col-sm-9">
			<h1>{{formtitle}}</h1>
		<br><br>
			<p>{{instruction}}</p>
		<br>
			<form method="POST" action="" id='ActivityEditForm'>
				{%csrf_token%}
				{{form.as_p}}
				<br>
				<input type="button" value="Back" onclick="window.location='/adminDashboard/';"/>
				<input type="submit" value="Submit" onclick="window.location='/adminDashboard/';" />
			</form>
		</div>
	</div>

{% endblock %}