<!--Created by: CJ
  Purpose: Interface for users to view events and sign up for new ones.
  Date: March 2016
-->

{% extends 'base.html' %}
{% block content%}
     {% load staticfiles %}
    <link rel="stylesheet" href='{% static "css/custom.css" %}'>
    <script src='{% static "js/eventDashboard.js" %}'></script>

    <div class="container">
      {% if user.is_anonymous %}
      <h1>Welcome, friend.</h1>
      {% else %}
      <h1>Welcome, {{user}}</h1>
      {% endif %}
      <br>
      <p>Browse events from the general list below or enter a joincode to choose a specific event.</p>
      <br>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
<!--           <p><b>Narrow results by type: </b></p> -->
        </div>
        <div class="col-sm-4">
          <!-- <label class="checkbox-inline"><input type="checkbox" id="private" class="private" value="">Private Events</label>
          <label class="checkbox-inline public"><input type="checkbox" value="">Public Events</label> -->
        </div>
        <div class="col-sm-5">
          <span class="pull-right">
            <div class="col-xs-6">
              <input type="text" class="form-control" id="code" placeholder="Join Code">
            </div>
            <button id="codeSearch" class="btn btn-primary">Search</button>
          </span>
        </div>
      </div> <!--ends div for row-->
    </div>
    <br>
    <hr>

    <div class="banner-bottom">
    <div class="container">
      <div class="banner-bottom-grids">
        {% for e in events %}
        <div class="col-md-3 banner-bottom-grid-left">
          <div class="br-bm-gd-lt" id="{{e.eventID}}">
            <div class="sub-event" id="{{e.enforceUser}}">
              <div class="overlay">
                <div class="arrow-left"></div>
                <div class="rectangle"></div>
              </div>
              <div class="eventInfo">
                <div class="info">
                  <h3>{{e.eventName}}</h3>
                  </ul>
                </div>
<!--                 <h4>[eventDescription* add to table itself]</h4> -->
                <div class="code"> 
                  {% if e.enforceUser == True %}
                    <div><p>&nbsp;</p></div>
                  {% else %}
                    <p>{{e.joincode}}</p>
                  {% endif %}
                </div>

                {% if e.enforceUser == False %}
                  <input type="button" onClick="location.href='/activityDashboard/{{e.eventID}}/';" class="btn btn-primary" VALUE="Join Event">
                {% elif e.enforceUser == True %}
                  <a data-toggle="modal" data-id="{{e.eventID}}" title="Join Event" class="btn btn-primary" href="#Join{{e.eventID}}">Join Event</a>
                {% endif %}
                
              </div>
            </div> <!--close "sub-event" div-->
          </div>
        </div>
        <!-- Join Event Modal -->
          <div class="modal fade" id="Join{{e.eventID}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Join Event</h4>
                </div>

                  <div class="modal-body">
                    <h4>Access Event</h4>
                    <br/>
                    Please enter a joincode below to access "{{e.eventName}}".
                    <form method="POST" action="/joinEvent/{{e.eventID}}/" role="form">
                      {% csrf_token %}
                      <input type="text" id="jcode" class="form-control" name="jcode" placeholder="Join Code"></input>
                  </div>

                  <div class="modal-footer">
                    <input type="submit" id="sbutton" class='btn btn-success' value="Submit" onClick="location.href='/joinEvent/{{e.eventID}}/';"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </form>
                  </div>
              </div><!-- /.modal-content-->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        {% endfor %} <!--ends events-->
      </div> <!--ends banner-bottom-grids-->
    </div> <!--ends container-->
  </div> <!--ends banner-bottom-->

{% endblock %}