<!--Initial Login Page
    Created by: CJ
    Date: 2/9/2016
    Purpose: Splash page to give users ability to login depending on role.
-->

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CHF App Template (User Side)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="News Times Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' type="text/css" media="all"/>

    <link href='{% static "css/style.css" %}' rel="stylesheet" type="text/css" media="all" />
    <!-- js -->
    <script src='{% static "js/jquery-1.11.1.min.js" %}'></script>
    <!-- //js -->
    <link href='//fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  </head>

  
  <body>

  <div class="banner">
    <div class="banner-info">
      <div class="container">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="logo">
              <a class="navbar-brand" href="home.html">Interactivity</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav cl-effect-18" id="cl-effect-18">
              <li class="act"><a href="index.html" class="effect1 active">Home</a></li>
              <li><a href="/userLogin/">User Login</a></li>
              <li><a href="">Admin Login</a></li>
              <li><a href="">Quickstart</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->  
        </nav>
        <div class="banner-info-slider">
          <h1>Select Login Type</h1>
          <div class="more">
            <p>Some witty tagline here about history</p>
          </div>
        </div>
      </div> <!--end of container-->
    </div> <!--end of banner info-->
  </div> <!--end of banner-->

  <!-- <div class="footer">
      <div class="container">
        <div class="footer-bottom">
          <div class="footer-bottom-left">
            <p>Interactivity</p>
          </div>
          <div class="footer-bottom-right">
            <ul>
              <li>About</li>
              <li>Contact</li>
            </ul>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
    </div> -->
  <!-- //footer -->
  <!-- for bootstrap working -->
    <script src='{% static "js/bootstrap.js" %}'></script>
<!-- //for bootstrap working -->

  </body>
</html>