
{% load staticfiles %}

<h1>
  <link rel='stylesheet' href='{% static "css/userLogin.css" %}' />
</h1>

<body>



<body>
	<div id="LOGIN">
	<form method="POST" action="" class="forms" id="userLogin">
		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-login" aria-hidden="true">

          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel-login">Login</h4>
              </div>
              <div class="modal-body">
					{% csrf_token %}
					{{forms.as_p}}
					{% for field in form %}
					<div class="form-group{{field.errors|yesno:' has-error,'}}">
					  <label class="col-sm-3 control-label">
					    {{ field.label }}
					  </label>
					  <div class="col-sm-9">
					    {{ field }}
					    <div class="field-error-text">
					    {% for error in field.errors %}
					      {{ error }}
					    {% endfor %}
					    </div>
					  </div>
					</div>
					{% endfor %}
				<p> Testing to see if this works. </p>
				<button type="submit" class="btn btn-primary">Submit</button>
                
                <button type="button" class="btn btn-primary">Login</button>

                <input type="checkbox" value="rememberme" id="rememberme">Remember me <br/><br/>
                
                <a href="#">Forgot your password?</a>
                
              </div>
              
              <div class="modal-footer">
              <h4 class="modal-title" id="myModalLabel">Register</h4>
                If you are not an existing member of this site you can <a data-toggle="modal" data-target="#becomeamember" data-dismiss="modal"> register here</a>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>-->
              </div>
              
            </div>
          </div>
        </div><!-- end become a member modal -->
    </form>
    </div>

</body>